@using System.Globalization
@using System.Security.Claims
@model Products

<link href="~/css/ckeditor.css" rel="stylesheet" />
<link href="~/css/map.css" rel="stylesheet" />
<link rel="stylesheet"
      href="https://cdn.ckeditor.com/ckeditor5/45.2.1/ckeditor5.css"
      crossorigin />
<link href="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.css" rel="stylesheet">
<script src="https://unpkg.com/maplibre-gl@3.1.0/dist/maplibre-gl.js"></script>
<link href="~/css/payment.css" rel="stylesheet" />

@{
    ViewData["Title"] = Model.Name;
    ViewData["MetaTag"] = Model.MetaTag;

    long? currentUserId = null;
    var userIdString = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

    if (!string.IsNullOrEmpty(userIdString) && long.TryParse(userIdString, NumberStyles.Integer, CultureInfo.InvariantCulture, out long parsedId))
    {
        currentUserId = parsedId;
    }

    bool isAdmin = User.IsInRole("Admin");
    string? userEmail = Assignment.Utilities.CookieAuthHelper.GetEmail(User);
    string? userPhone = Assignment.Utilities.CookieAuthHelper.GetPhone(User);
}

<script>
    fetch(`/api/evaluate/check/${@Model.Id}`)
        .then((response) => {
            if (response.status === 422 || response.status === 401) {
                return response.json();
            }

            if (!response.ok) {
                return showErrorToast(
                    "Lỗi khi tải dử liệu. Vui lòng thử lại sau.",
                    4000
                );
            }

            return response.json();
        })
        .then((data) => {
            if ((data.code = "PURCHASED")) {
                document.getElementById(
                    "cmt"
                ).innerHTML = `<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createAndUpdateModal" onclick="startCreate()">Tạo đánh giá</button>`;
            }
        });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4">
            <img src="@Model.ProductImageUrl" alt="Some picture" class="img-fluid"/>
        </div>
        <div class="col-12 col-lg-8">
            <h3 class="h2">@Model.Name</h3>
            <p class="h5">
                <span>@Model.AverageEvaluate</span>
                @{
                    double averageEvaluate = Model.AverageEvaluate;
                    for (int i = 1; i <= 5; i++)
                    {
                        if (averageEvaluate >= i)
                        {
                            <i class="fa-solid fa-star text-warning"></i>
                        }
                        else if (averageEvaluate >= i - 0.5)
                        {
                            <i class="fa-regular fa-star-half-stroke text-warning"></i>
                        }
                        else
                        {
                            <i class="fa-regular fa-star text-warning"></i>
                        }
                    }
                }
                <span> | @Model.TotalEvaluate.ToString("N0") lượt đánh giá</span>
            </p>
            <p class="h5">Đã bán @Model.Sold.ToString("N0") | Còn lại @Model.Stock.ToString("N0")</p>
            <p class="h3">
                @if (Model.Discount > 0)
                {
                    <span class="badge bg-danger">@Model.Discount%</span>
                    <span class="text-black">@((Model.Price - ((Model.Price / 100) * Model.Discount)).ToString("C0"))</span>
                    <span class="text-decoration-line-through fs-5">@Model.Price.ToString("C0")</span>
                }
                else
                {
                    <span>@Model.Price.ToString("C0")</span>
                }
            </p>
            <div class="d-flex gap-2">
                <button class="btn btn-primary px-3" onclick="reduce()">-</button>
                <input type="number" class="form-control" id="quantity" style="max-width: 250px" value="1">
                <button class="btn btn-primary px-3" onclick="increase()">+</button>
            </div>
            <div class="mt-3">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal" onclick="startBuyNow(@Model.Id, '@Model.Name', @Model.Price)">Mua ngay</button>
                }
                <button class="btn btn-warning" onclick="addToCart(@Model.Id)">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <h4 class="h4">Chi tiết sản phẩm</h4>
        <div class="d-flex my-3">
            <div class="col-2 text-secondary">
                Loại
            </div>
            <div class="col-10">
                @(Model.IsVegetarian ? "Đồ chay" : "Đồ mặn")
            </div>
        </div>
        <div class="d-flex my-3">
            <div class="col-2 text-secondary">
                Món cay
            </div>
            <div class="col-10">
                @(Model.IsSpicy ? "Cay" : "Không cay")
            </div>
        </div>
        <div class="d-flex my-3">
            <div class="col-2 text-secondary">
                Thời gian chuẩn bị
            </div>
            <div class="col-10">
                @Model.PreparationTime phút
            </div>
        </div>
        <div class="d-flex my-3">
            <div class="col-2 text-secondary">
                Số calo
            </div>
            <div class="col-10">
                @Model.Calories
            </div>
        </div>
        <div class="d-flex my-3">
            <div class="col-2 text-secondary">
                Thành phần
            </div>
            <div class="col-10">
                @Model.Ingredients
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <h4 class="h4">Mô tả sản phẩm</h4>
        @Html.Raw(Model.Description)
    </div>
    <h4 class="h4">Đánh giá</h4>
    <span id="cmt"></span>
    @foreach (Evaluates evaluates in @Model.Evaluates)
    {
        <div class="mt-2">
            <h5 class="h5">@evaluates.User.Name</h5>
            @{
                double averageEvaluateMini = evaluates.Star;
                for (int i = 1; i <= 5; i++)
                {
                    if (averageEvaluateMini >= i)
                    {
                        <i class="fa-solid fa-star text-warning"></i>
                    }
                    else if (averageEvaluateMini >= i - 0.5)
                    {
                        <i class="fa-regular fa-star-half-stroke text-warning"></i>
                    }
                    else
                    {
                        <i class="fa-regular fa-star text-warning"></i>
                    }
                }
            }
            <p>
                @Html.Raw(evaluates.Content)
            </p>
            @if (User.Identity.IsAuthenticated && (isAdmin || (currentUserId.HasValue && currentUserId.Value == evaluates.UserId)))
            {
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#createAndUpdateModal" onclick="startUpdate(@evaluates.Id, @evaluates.Star, '@evaluates.Content')">Sửa</button>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="startDelete(@evaluates.Id)">Xóa</button>
            }
        </div>
    }
</div>

<div>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="buyModalLabel">Mua ngay</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <h1 class="h1">Thông tin người nhận</h1>
                            <div class="mb-3">
                                <label for="name" class="form-label">Tên người nhận</label>
                                <input type="text" class="form-control" id="name" placeholder="ví dụ: Bùi Đăng Khoa" value="@User.Identity.Name">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Số điện thoại người nhận</label>
                                <input type="text" class="form-control" id="phone" placeholder="ví dụ: 0999999999" value="@userPhone">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Địa chỉ email người nhận (Tùy chọn)</label>
                                <input type="email" class="form-control" id="email" placeholder="ví dụ: khoabdtb00417@fpt.edu.vn" value="@userEmail">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Địa chỉ nhận</label>
                                <div class="map-container ">
                                    <div id="map"></div>
                                </div>
                            </div>
                            <div>
                                <label for="voucher" class="form-label">Mã giảm giá (Tùy chọn)</label>
                                <input type="text" class="form-control" id="voucher" placeholder="ví dụ: GIAM100">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <h1 class="h1">Thông tin sản phẩm</h1>
                            <div class="mb-3">
                                <label for="productName" class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="productName" readonly="">
                            </div>
                            <div class="mb-3">
                                <label for="productQuantity" class="form-label">Số lượng sản phẩm</label>
                                <input type="number" class="form-control" id="productQuantity" placeholder="ví dụ: 999" value="1">
                            </div>
                            <div>
                                <label for="productPrice" class="form-label">Tổng hóa đơn</label>
                                <input type="text" class="form-control" id="productPrice" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-success" onclick="buyNow()">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="paymentModalLabel">Thông tin thanh toán</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="payment-card text-center">
                                <h5 class="mb-4">Cách 1: Mở app ngân hàng và quét mã QR</h5>
                                <div class="qr-code-section mb-4">
                                    <img id="paymentQrCode" alt="Payment QR Code">
                                </div>
                                <div class="status-section">
                                    Trạng thái: Chờ thanh toán...
                                    <div id="status" class="spinner-border spinner-border-sm text-secondary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>

                            <div class="payment-card">
                                <h5 class="mb-4 text-center">Cách 2: Chuyển khoản thủ công theo thông tin</h5>
                                <div class="text-center mb-3">
                                    <img src="https://qr.sepay.vn/assets/img/banklogo/MB.png" alt="MBBank Logo" style="height: 40px;"> <p class="mt-2 mb-0 fw-bold">Ngân hàng <span id="bank"></span></p>
                                </div>
                                <div class="bank-info-section">
                                    <div class="row">
                                        <div class="col-5 label">Chủ tài khoản:</div>
                                        <div class="col-7 text-end fw-bold" id="account_name"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 label">Số TK:</div>
                                        <div class="col-7 text-end fw-bold text-danger" id="account_no"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 label">Số tiền:</div>
                                        <div class="col-7 text-end fw-bold text-danger" id="bill"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 label">Nội dung CK:</div>
                                        <div class="col-7 text-end fw-bold text-danger" id="orderId"></div>
                                    </div>
                                </div>
                                <p class="text-muted mt-4 small">Lưu ý: Vui lòng giữ nguyên nội dung chuyển khoản <span id="orderId2"></span> để hệ thống tự động xác nhận thanh toán</p>
                            </div>
                            <div class="payment-card">
                                <ul class="list-group" id="listProduct"></ul>
                                <div class="mt-3">
                                    <p>Tổng hóa đơn <span class="float-end" id="totalPrice"></span></p>
                                    <span id="discount"></span>
                                    <p>Phí giao hàng <span class="float-end" id="fee"></span></p>
                                    <p>Thuế VAT <span class="float-end" id="vat"></span></p>
                                    <p>Tổng tiền <span class="float-end fw-bold" id="totalBill"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" id="paymentModelBtn" onclick="startPayment" style="display: none" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentModal">
            Open payment model
        </button>
    }
    
    <div class="modal fade" id="createAndUpdateModal" tabindex="-1" aria-labelledby="createAndUpdateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createAndUpdateModalLabel">Tạo và sửa đánh giá</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Đánh giá</label>
                        <input type="range" min="1" max="5" value="5" step="0.5" class="form-range" id="star">
                    </div>
                    <div class="main-container">
                        <div class="editor-container editor-container_document-editor editor-container_include-word-count"
                             id="editor-container">
                            <div class="editor-container__menu-bar" id="editor-menu-bar"></div>
                            <div class="editor-container__toolbar" id="editor-toolbar"></div>
                            <div class="editor-container__editor-wrapper">
                                <div class="editor-container__editor">
                                    <div id="editor"></div>
                                </div>
                            </div>
                            <div class="editor_container__word-count" id="editor-word-count"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="createAndUpdateButton">Tạo và sửa đánh giá</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Xóa đánh giá</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa đánh giá này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" onclick="del()">Xóa đánh giá</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/buynow.js"></script>
<script src="~/js/addCart.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/45.2.1/ckeditor5.umd.js" crossorigin></script>
<script src="~/js/evaluate.js"></script>
<script>
    selectedProduct = @Model.Id;
</script>