@using Assignment.Enum
@model SearchPurchaseHistoryModel

<div>
    <div class="row mt-3">
        <h1>Lịch sử mua hàng</h1>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-6 offset-md-3">
            <div class="input-group gap-3">
                <div class="col">
                    <label for="startTime" class="form-label">Thời gian bắt đầu</label>
                    <input type="date" class="form-control" id="startTime" value="@Model.StartTime?.ToString("yyyy-MM-dd")">
                </div>
                <div class="col">
                    <label for="endTime" class="form-label">Thời gian kết thúc</label>
                    <input type="date" class="form-control" id="endTime" value="@Model.EndTime?.ToString("yyyy-MM-dd")">
                </div>
                <div class="col">
                    <label for="status" class="form-label">Trạng thái</label>
                    <select class="form-select" id="status">
                        @if (Model.Status != null && Model.Status == OrderStatus.Ordered)
                        {
                            <option value="-1">Tất cả</option>
                            <option selected value="0">Đã đặt hàng</option>
                            <option value="1">Đã hoàn tất</option>
                            <option value="2">Đã hủy</option>
                        }
                        else if (Model.Status != null && Model.Status == OrderStatus.Completed)
                        {
                            <option value="-1">Tất cả</option>
                            <option value="0">Đã đặt hàng</option>
                            <option selected value="1">Đã hoàn tất</option>
                            <option value="2">Đã hủy</option>
                        }
                        else if (Model.Status != null && Model.Status == OrderStatus.Cancelled)
                        {
                            <option value="-1">Tất cả</option>
                            <option value="0">Đã đặt hàng</option>
                            <option value="1">Đã hoàn tất</option>
                            <option selected value="2">Đã hủy</option>
                        }
                        else
                        {
                            <option value="-1">Tất cả</option>
                            <option value="0">Đã đặt hàng</option>
                            <option value="1">Đã hoàn tất</option>
                            <option value="2">Đã hủy</option>
                        }
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary" onclick="search()">
                    <i class="fa-solid fa-filter"></i>
                    Lọc
                </button>
            </div>
        </div>
    </div>
    
    <div class="accordion" id="orderList">
        @foreach (Orders order in Model.Data)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#order-@order.Id" aria-expanded="true" aria-controls="order-@order.Id">
                        @if (order.Status == OrderStatus.Ordered)
                        {
                            <span class="badge bg-warning">Đã đặt hàng</span>
                        }
                        else if (order.Status == OrderStatus.Completed)
                        {
                            <span class="badge bg-success">Đã hoàn thành</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Đã hủy</span>
                        }
                        <span>&nbsp;Order: #@order.Id - Ngày đặt: @order.CreatedTime.ToString("dd/MM/yyyy")</span>
                    </button>
                </h2>
                <div id="order-@order.Id" class="accordion-collapse collapse" data-bs-parent="#orderList">
                    <div class="accordion-body">
                        <ul class="list-group list-group-numbered">
                            @foreach (OrderDetail detail in order.OrderDetails)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold"><a href="/products/@detail.Product.Path" class="text-black text-decoration-none">@detail.Product.Name</a></div>
                                        @detail.PricePreItems.ToString("C0") <i class="fa-solid fa-xmark"></i> @detail.TotalQuantityPreItems.ToString("N0")
                                    </div>
                                    <span class="badge bg-success rounded-pill">@detail.TotalPricePreItems.ToString("C0")</span>
                                </li>
                            }
                        </ul>
                    </div>
                    
                    <div class="d-flex justify-content-end mx-3 mb-1">
                        <span class="fw-bold">Tổng hóa đơn: @order.TotalPrice.ToString("C0")</span>
                    </div>

                    <div class="d-flex justify-content-end mb-3 mx-3 gap-2">
                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <button class="float-end btn btn-info" onclick="startShow('@order.Name', '@order.Phone' , '@order.Email')" data-bs-toggle="modal" data-bs-target="#showModal">Thông tin hóa đơn</button>
                        }
                        @if (order.Status == OrderStatus.Ordered)
                        {
                            <button class="float-end btn btn-danger" onclick="startSelected(@order.Id)" data-bs-toggle="modal" data-bs-target="#deleteModal">Hủy đơn hàng</button>
                            @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <button class="float-end btn btn-success" onclick="startSelected(@order.Id)" data-bs-toggle="modal" data-bs-target="#completeModal">Hoàn tất đơn hàng</button>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="modal fade" id="completeModal" tabindex="-1" aria-labelledby="completeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="completeModalLabel">Hoàn tất đơn hàng</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn muốn hoàn tất đơn hàng này?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-warning" onclick="complete()">Hoàn tất đơn hàng</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Hủy đơn hàng</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn hủy đơn hàng này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" onclick="cancel()">Hủy đơn hàng</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="showModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="showModalLabel">Thông tin sản phẩm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <b>Tên người nhận: </b>
                        <span id="name"></span>
                    </p>
                    <p>
                        <b>Số điện thoại người nhận: </b>
                        <span id="phone"></span>
                    </p>
                    <p>
                        <b>Địa chỉ email người nhận: </b>
                        <span id="email"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/purchaseHistory.js"></script>