@model SearchProductViewModel
@{
    ViewData["Title"] = "Tìm kiếm";
}

<div>
    <h1 class="text-center">Sản phẩm của chúng tôi</h1>
    <div class="row mt-3 mb-3">
        <div class="col-md-6 offset-md-3"> <div class="input-group">
                <input type="text" class="form-control" value="@Model.Text" id="search" placeholder="Tìm kiếm...">
                <button class="btn btn-primary" type="button" onclick="search()"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btn btn-primary ms-2" type="button" data-bs-toggle="modal" data-bs-target="#advancedSearchModal">Nâng cao</button>
            </div>
        </div>
    </div>
    @if (Model.Data.Count > 0)
    {
        @foreach (var categoryGroup in Model.Data)
        {
            <h2 class="mt-4 mb-3">@categoryGroup.Key.Name</h2>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-2">
                @foreach (var item in categoryGroup.Value)
                {
                    <div class="col">
                        <a href="/products/@item.Path" class="text-decoration-none">
                            <img class="img-fluid" src="@item.ProductImageUrl" alt="@item.Name" />
                            <p class="h3 text-black">@item.Name</p>
                            <p class="text-black">@item.Price.ToString("C0")</p>
                        </a>
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#buyModal" onclick="startBuyNow(@item.Id, '@item.Name', @item.Price)">Mua ngay</button>
                        }
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="col">
            <p class="text-center">Không có sản phẩm nào phù hợp</p>
        </div>
    }
</div>

<div>
    <div class="modal fade" id="advancedSearchModal" tabindex="-1" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="advancedSearchModalLabel">Tìm kiếm nâng cao</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (Model.Max != null && Model.Max != null)
                    {
                        <div class="mb-3">
                            <label for="min" class="form-label">Giá tối thiểu</label>
                            <input type="number" class="form-control" readonly id="min" placeholder="Giá tối thiểu" value="@Model.Min">
                        </div>
                        <div class="mb-3">
                            <label for="max" class="form-label">Giá tối đa</label>
                            <input type="number" class="form-control" readonly id="max" placeholder="Giá tối đa" value="@Model.Max">
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <label for="min" class="form-label">Giá tối thiểu</label>
                            <input type="number" class="form-control" id="min" placeholder="Giá tối thiểu">
                        </div>
                        <div class="mb-3">
                            <label for="max" class="form-label">Giá tối đa</label>
                            <input type="number" class="form-control" id="max" placeholder="Giá tối đa">
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    @if (Model.Max != null && Model.Max != null)
                    {
                        <button type="button" class="btn btn-danger" id="searchAdvancedButton" onclick="resetSearch()">Loại bỏ bộ lọc</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success" id="searchAdvancedButton" onclick="search()">Áp dụng bộ lọc</button>
                    }
                </div>
            </div>
        </div>
    </div>
    
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="buyModalLabel">Mua ngay</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <h1 class="h1">Thông tin người nhận</h1>
                            <div class="mb-3">
                                <label for="name" class="form-label">Tên người nhận</label>
                                <input type="text" class="form-control" id="name" placeholder="ví dụ: Bùi Đăng Khoa" value="@User.Identity.Name">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Số điện thoại người nhận</label>
                                <input type="text" class="form-control" id="phone" placeholder="ví dụ: 0999999999">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Địa chỉ email người nhận (Tùy chọn)</label>
                                <input type="email" class="form-control" id="email" placeholder="ví dụ: khoabdtb00417@fpt.edu.vn">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <h1 class="h1">Thông tin sản phẩm</h1>
                            <div class="mb-3">
                                <label for="productName" class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="productName" readonly="">
                            </div>
                            <div class="mb-3">
                                <label for="productQuantity" class="form-label">Số lượng sản phẩm</label>
                                <input type="number" class="form-control" id="productQuantity" placeholder="ví dụ: 999" value="1">
                            </div>
                            <div class="mb-3">
                                <label for="productPrice" class="form-label">Tổng hóa đơn</label>
                                <input type="text" class="form-control" id="productPrice" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-success" onclick="buyNow()">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/js/search.js"></script>
<script src="~/js/search.js"></script>
<script src="~/js/buynow.js"></script>

