@model SearchProductViewModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div>
    <h1 class="text-center">Sản phẩm của chúng tôi</h1>
    <div class="row mt-3 mb-3">
        <div class="col-md-6 offset-md-3"> <div class="input-group">
                <input type="text" class="form-control" value="@Model.Text" id="search" placeholder="Tìm kiếm...">
                <button class="btn btn-primary" onclick="search()"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>

    @if (Model.Data.Count > 0)
    {
        @foreach (var categoryGroup in Model.Data)
        {
            <h2 class="mt-4 mb-3">@categoryGroup.Key.Name</h2>
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-2">
                @foreach (var item in categoryGroup.Value)
                {
                    <div class="col">
                        <a href="/products/@item.Path" class="text-decoration-none">
                            <img class="img-fluid" src="@item.ProductImageUrl" alt="@item.Name" />
                            <p class="h3 text-black">@item.Name</p>
                            <p class="text-black mb-0">
                                @if (item.Discount > 0)
                                {
                                    <span class="badge bg-danger">@item.Discount%</span>
                                    <span>@((item.Price - (item.Price * item.Discount / 100)).ToString("C0"))</span>
                                    <del class="text-secondary">@item.Price.ToString("C0")</del>
                                }
                                else
                                {
                                    @item.Price.ToString("C0")
                                }
                            </p>
                            <p class="mb-1">
                                <span class="text-black">
                                    @item.AverageEvaluate <i class="fa-solid fa-star text-warning"></i> @item.TotalEvaluate.ToString("N0") lượt đánh giá
                                </span>
                            </p>
                        </a>
                        <button class="btn btn-warning w-100" onclick="addToCart(@item.Id)">Thêm vào giỏ hàng</button>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="col">
            <p class="text-center">Không có sản phẩm nào phù hợp</p>
        </div>
    }
</div>

<script src="~/js/search.js"></script>
<script src="~/js/addcarthome.js"></script>